/* @import "./base.css"; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none; */
}

/* 지혜 */
.themaColor1 {
    color: #a4acb7;
}
.themaBgColor1 {
    background-color: #a4acb7;
}
/* 회복 */
.themaColor2 {
    color: #cc8a94;
}
.themaBgColor2 {
    background-color: #cc8a94;
}
.themaBgColor2:hover {
    background-color: #ca717f;
}
/* 왕족 */
.themaColor3 {
    color: #604b6e;
}
.themaBgColor3 {
    background-color: #604b6e;
}
/* 영성 */
.themaColor4 {
    color: #857496;
}
.themaBgColor4 {
    background-color: #857496;
}
/* 창의성 */
.themaColor5 {
    color: #ac9cc0;
}
.themaBgColor5 {
    background-color: #ac9cc0;
}
/* 여성스러움 */
.themaColor6 {
    color: #e8e8f0;
}
.themaBgColor6 {
    background-color: #e0e0f1;
}
.themaBgColor6:hover {
    background-color: #d9d9f5;
}

/* 아이콘 */
.smallIcon {
    width: 12px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.normalIcon {
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bigIcon {
    width: 36px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.login {
    background-image: url("/img/icon_login.png");
}
.back {
    background-image: url("/img/icon_back.png");
}
.cart {
    background-image: url("/img/icon_cart.png");
}
.x {
    background-image: url("/img/icon_x.png");
}
.plus {
    background-image: url("/img/icon_plus.png");
}
.minus {
    background-image: url("/img/icon_minus.png");
}
.location {
    background-image: url("/img/icon_location.png");
}
.call {
    background-image: url("/img/icon_call.png");
}
.mail {
    background-image: url("/img/icon_mail.png");
}
